<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
        <script src="https://malsup.github.io/jquery.form.js"></script> 

        <h1>
            You have arrived at the landing page!
        </h1>
        <br>
        
        <form action="/addToDo" method="POST" id="addToDo">
            <label for="task">To Do: </label>
            <input type="text" name="task" required><br>
            <input type="submit" id="add" value="Add">
        </form>
        <div class="toDos">
            <ul class="taskList">
                <% for (let i = 0; i < userToDos.length; i++) { %>
                    <li id="task<%=userToDos[i].ID%>">
                        <% if ((userToDos[i].IS_DONE).readUIntLE(0, 1) === 1) { %>
                            <input type="checkbox" name="task<%=userToDos[i].ID%>" checked>
                        <% } else { %>
                            <input type="checkbox" name="task<%=userToDos[i].ID%>">
                        <% } %>
                        <label for="task<%=userToDos[i].ID%>"><%=userToDos[i].TASK%></label>
                        <input type="button" id="task<%=userToDos[i].ID%>Button" value="Remove">
                    </li>
                <% } %>
            </ul>
        </div>
        <a href="/logout">Log out</a><br>

        <div id="flashDiv">
            <% for (let i = 0; i < flashMessage.length; i++) { %>
                <div class="flashMessage">
                    <%= flashMessage[i] %>
                </div>
            <% } %>
        </div>


        <script>
            $(document).ready(function() {

                function errorHandler(xhr) {
                    if (xhr.status === 401) {
                        console.log(xhr);
                        document.body.innerHTML = xhr.responseText;
                    }
                    else {
                        $("#flashDiv").append(`<div class="flashMessage">Something went wrong.</div>`);
                    }
                }


                $('input:checkbox').change(function() {
                    $.ajax({
                        type: 'POST',
                        url: '/updateToDoCheckbox',
                        data: {
                            id: (this.name).substring((this.name).indexOf('task') + 'task'.length),
                            is_done: (this.checked ? 1 : 0)
                        },
                        error: errorHandler
                    });
                });

                $('input[type="button"][value="Remove"]').click(function() {
                    let element = $(this);
                    console.log(element);
                    $.ajax({
                        type: 'POST',
                        url: '/removeToDo',
                        data: {
                            id: (this.id).substring((this.id).indexOf('task') + 'task'.length, (this.id).indexOf('Button'))
                        },
                        success: function() {
                            $(`#${$(element).attr('id').substring(0, $(element).attr('id').indexOf('Button'))}`).remove();
                        },
                        error: errorHandler

                    });
                });
                
            });
        </script>
        
    </body>
</html>